<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to the Wretlinks Apps !</h1>

  <h2>This is the home page for the<a href="users#home"> Wretlinks </a>application.</h2>
  <h2>Write and Save your links here !</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
